body {
  display: flex;
  flex-direction: column;
}

.diary-card-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.diary-card-area .card {
  width: 300px;
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  padding-top: 30px;
  color: rgb(156, 154, 154);
  font-size: 16px;
  background-color: rgb(211, 209, 209);
  text-align: center;
}

